{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="profil my-2">
                <h2 class="text-center">Profil</h2>
                <p>Berdiri sejak tahun 2017, 3D Track GPS Tracker berfokus pada peningkatan efisiensi dan keamanan armada dengan teknologi GPS Tracking. Perkembangan zaman yang pesat serta kemajuan teknologi yang makin meningkat, maka kriminalisasi pun ikut meningkat. Kami 3D Track GPS Tracker, hadir untuk membantu serta menjalin relasi dari berbagai kalangan, dengan memberikan keamanan dan kenyamanan berinvestasi dalam bentuk perangkat keamanan armada. 
                        3D Track telah banyak membantu perusahaan besar ataupun kecil bahkan perorangan di Indonesia dalam peningkatan produktifitas serta efisiensi melalui pemantauan posisi seluruh armada secara real-time dengan menggunakan GPS yang bekerja selama 24 jam x 7 hari non-stop. 
                        3D Track dikembangkan dengan tujuan menjunjung tinggi tanggung jawab kerja di samping memberikan layanan yang terbaik dan harga yang kompetitif. Kepuasan Customer adalah hal utama yang selalu kami jaga.
                        </p>
            </div>
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="visi-misi my-2">
                <h2 class="text-center">Visi dan Misi</h2>
                <h3>Misi</h3>
                <p>Menyediakan fasilitas tracking untuk customer perusahaan dan individu, memberikan layanan terbaik berkualitas dengan support yang cepat, dan menjalin kemitraan dengan calon customer maupun customer kami.</p>
                <h3>Visi</h3>
                <p>Sebagai penyedia fasilitas dan layanan Tracking paling terdepan di era globalisasi yang kompetitif, terpercaya dan handal di Indonesia.</p>   
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="capt my-2">
                <h6>Konsep 3D Track untuk penjualan tidak hanya jual beli putus, tetapi untuk bermitra. Baik untuk calon cust kami maupun sudah menjadi customer kami. Karena bermitra dapat melihat jangka panjangnya. Ketika ada masalah cust tidak akan bimbang atau malu bertanya kepada kami. Begitu pula kami ketika untuk menawarkan produk produk kami, kami akan menawarkan produk2 terbaik. Tanpa ada rasa sungkan. Tidak hanya bernilai materi antara kami dengan pihak cust. Tetapi kami dan mereka adalah mitra. 
    
                    Sistem manajemen CV. 3D Track membantu Perusahaan dan Organisasi untuk mewujudkan peningkatan efisiensi yang signifikan dan mendapatkan wawasan berharga tentang semua aspek dari operasi armada mereka dengan melacak, memantau dan mengelola aset bergerak mereka secara real time pada waktu tertentu.
                </h6>
            </div>
        </div>
    </div>
</div>

{%endblock%}
