
@media screen and (max-width: 1440px){

  .footer_info {
  background-color: #2C0074;
  padding: 3rem 0.5rem !important;
}
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 1rem
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding-right: 2rem;
  padding-left: 2rem;
}

.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #ffff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: #051937;
  /* background-image: linear-gradient(to right top, #051937, #3f2b53, #773e65, #ac556b, #d67668); */
}

/*footer*/

.footer {
  background: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sosial_media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container_sosmed , .icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon_sosmed {
  margin: auto 0.5rem;
}


.subjudul {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.logo_footer , .sosial_media {
  margin: auto 6rem;
}

.footer_info {
  background-color: #051937;
  /* background-image: linear-gradient(to right top, #051937, #3f2b53, #773e65, #ac556b, #d67668); */
  padding: 3rem 1rem;
}

.container_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.info {
  margin: 0 1rem;
}

.judul_info {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #CEEAE8;
}

.subjudul_info {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 991px) {

  .logo_footer {
      margin: auto;
  }

  .sosial_media {
      justify-content: center;
      align-items: center;
  }

  .info {
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 1.5rem auto;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: turquoise;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



