{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/GeneralStyle.css' %}">
<div class="footer">
</div>

<div class="footer_info">
    <div class="container_info">
        <div class="info">
            <h1 class="judul_info">3D Track GPS Traker</h1>
            <p class="subjudul_info">Jl. H. Sa'anan 1 No. 37 Rt. 004/06 <br>
                Kel. Kembangan Utara, Kec. Kembangan<br>Jakarta Barat. <br>
                <a class="text-white" href = "tel:+6281133322737"> 0811-3332-2737</a><br>
                <a class="text-white"href = "tel:+6282210075329">0822-1007-5329</a> <br>
                </p>
        </div>

        <div class="info">
            <h1 class="judul_info">Tentang Kami</h1>
            <p class="subjudul_info">aaaaaaaa</p>
        </div>

        <div class="info">
            <h1 class="judul_info" style="text-align: center">Official Partner</h1>
            <a class="subjudul_info" href="#"><img src="{% static 'image/telkomsel.png' %}" style="width:100px;"></a>
            <a class="subjudul_info" href="#"><img src="{% static 'image/apple.png' %}" style="width:100px;"></a>
            <a class="subjudul_info" href="#"><img src="{% static 'image/google.png' %}" style="width:100px;"></a>
            
        </div>
    </div>
</div>
