{% load staticfiles %}

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand active" href="{% url 'landingpage:home' %}"><img src="{% static 'image/logo.jpg' %}" style="width:100px;"><span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a class="nav-link" href="#landingpage">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TENTANG KAMI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUK</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">PROMO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">KONTAK</a>
                </li>
            </ul>
        </div>
    </nav>